			<div class="slides">
				<section>
					<h1>Preso-Meister</h1>
					<h3>Next level presentations</h3>
					<p>
						<small>by Team Argenta</small>
					</p>
				</section>
				
                <section>
                    <h2>the preso-meister</h2>
                    <p>
                        <img src="presentationSlides/presomeister/Presomeister-PI.jpg">
                    </p>
                </section>

                <section>
                    <section>
                        <h2>Quick Howto</h2>
                        <p>
                        </p>
                    </section>
                    <section>
                        <h3>Navigate</h3>
                        <p>
                            <img src="presentationSlides/preso/arrows.jpg"> 
                            <br>
                            <img src="presentationSlides/preso/follow.jpg"> 
                            <br>
                        </p>
                    </section>
                    <section>
                        <h3>Ask Questions</h3>
                          <img src="presentationSlides/preso/question.jpg"> 
                    </section>
                    <section>
                        <h3>Notes</h3>
                        <p>
                            <img src="presentationSlides/preso/notes.jpg"> 
                            <br>
                            <img src="presentationSlides/preso/notesField.jpg"> 
                        </p>
                    </section>
                </section>
                
                <section>
                    <section>
                        <h2>Our solution is unique*</h2>
                        <p><small>* source: Capgemini App Center research</small></p>
                    </section>
                    <section>
                        <h2>and ready to use</h2>
                        <p>
                            Standalone<br>
                            Cross device compatible<br>
                            Pre configured<br><br>
                        </p>
                    </section>
                </section>
                
                <section>
                    <h2>it's build with</h2>
                    <img src="presentationSlides/preso/imgCloud.jpg">
                </section>
                
                <section>
                    <h2>Is this cool?</h2>

                    <div style="width:80%; clear:both; background-color:gray; height:80px; margin:0 auto; padding:10px; ">
                        <div style="background-color:green; float:left; text-align:left; overflow:visible; width:{{
                        voteYesWidth}}%"><span>{{voteCountYes}}</span></div>
                        <div style="background-color:red; float:right; text-align:right; overflow:visible; width:{{voteNoWidth}}% "><span>{{voteCountNo}}</span></div>
                        <div class="voteButtons">
                            <div ng-disabled="voted" ng-click="$parent.vote('IsThisCool', 'yes')" class="voteButton yesButton">Yes!</div>
                            <div ng-disabled="voted" ng-click="$parent.vote('IsThisCool', 'no')" class="voteButton noButton">No.</div>
                        </div>

                    </div>

                </section>
                
                <section>
                    <h2>Next steps</h2>
                    <p>Our next sprint demo<br>
                    Innovation Lab<br>
                    Deal presentations</p>
                </section>
                
                <section>
                    <h2>Made by</h2>
                    <p>
                        Pieter-Jan Beelen<br>
                        Karin Keijzer<br>
                        Jorne Roefs<br>
                        Carlo Vanhoutte<br>
                        Erwin Vermeulen
                    </p>
                </section>
                

			</div>