<!doctype html>
<html lang="en" ng-app="presoApp">
    <head>
        <meta charset="utf-8">
        <title>Preso-meister - The awesome presentation tool</title>
        
		<link rel="stylesheet" href="stylesheets/style.css">
        
		<script src="javascripts/reveal.js"></script>
		<script src="javascripts/angular.js"></script>
        <script src="javascripts/presomeister.js"></script>
        
    </head>
    <body ng-controller="presoController">
        <div ng-include="'partials/login.html'"></div>
        <div ng-include="'partials/reveal.html'"></div>
    </body>
</html>