.buttonsBackground{
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 29;
  bottom: 0px;
  background-color: #333;
}

.logIn{
	color: #fff;
    width:300px;
    height:200px;
    position:absolute;
    left:50%;
    top:50%;
    margin:-100px 0 0 -150px;
}

.userName{
	position:relative;
  width: 100%;
  text-align: center;
}

body{
font-family:verdana;
} 
                                
#loginform
{
width:450px;
height:auto;
position:relative;
margin:0 auto;
}


#mainlogin input
{
margin:10px auto 15px;
border-radius:5px;
background: #333333;
width:85%;
padding:12px 20px 12px 10px;
border:none;
color:#929999;                       
box-shadow:inset 0px 1px 5px #272727;
font-size:0.8em;
-webkit-transition:0.5s ease;
-moz-transition:0.5s ease;
-o-transition:0.5s ease;
-ms-transition:0.5s ease;
transition:0.5s ease; 
}

#mainlogin input:focus
{
-webkit-transition:0.5s ease;
-moz-transition:0.5s ease;
-o-transition:0.5s ease;
-ms-transition:0.5s ease;
transition:0.5s ease;  
box-shadow: 0px 0px 5px 1px #161718;
}

.buttonStyle button
{
background: #ff5f32;
border-radius:50%;
border:10px solid #222526;
font-size:0.9em;
color:#fff;
font-weight:bold;
cursor:pointer;
width:85px;
height:85px;
position:absolute;
right: -42px;
top: 54px;
text-align:center;
-webkit-transition:0.5s ease;
-moz-transition:0.5s ease;
-o-transition:0.5s ease;
-ms-transition:0.5s ease;
transition:0.5s ease;
}

.buttonStyle button:hover
{
background:#222526;
border-color:#ff5f32;
-webkit-transition:0.5s ease;
-moz-transition:0.5s ease;
-o-transition:0.5s ease;
-ms-transition:0.5s ease;
transition:0.5s ease;
}

.buttonStyle button i
{
font-size:20px;
-webkit-transition:0.5s ease;
-moz-transition:0.5s ease;
-o-transition:0.5s ease;
-ms-transition:0.5s ease;
transition:0.5s ease;
}

.buttonStyle button:hover i
{
color:#ff5f32;
-webkit-transition:0.5s ease;
-moz-transition:0.5s ease;
-o-transition:0.5s ease;
-ms-transition:0.5s ease;
transition:0.5s ease;
}

h1
{
text-align:center;
color:#fff;
font-size:13px;
padding:12px 0px;
}

a:hover
{
color:#fff;
margin-left:5px;
-webkit-transition:0.5s ease;
-moz-transition:0.5s ease;
-o-transition:0.5s ease;
-ms-transition:0.5s ease;
transition:0.5s ease;
}

#mainlogin
{
float:left;
width:300px;
height:150px;
padding:10px 15px;
position:relative;
background:#555555;
border-radius:3px;
-webkit-box-shadow: inset 1px 1px 10px 10px rgba(0,0,0,0.35);
-moz-box-shadow: inset 1px 1px 10px 10px rgba(0,0,0,0.35);
box-shadow: inset 1px 1px 10px 10px rgba(0,0,0,0.35);
}
#mainlogin .password{
  margin-top: -10px;
}

#presentationsOverview{
  margin: 100px 50px;
}
#presentationSelector{
  display: inline-block;
  background:#555555;
  width: 150px;
  height: 80px;
  -webkit-box-shadow: inset 1px 1px 10px 10px rgba(0,0,0,0.35);
  -moz-box-shadow: inset 1px 1px 10px 10px rgba(0,0,0,0.35);
  box-shadow: inset 1px 1px 10px 10px rgba(0,0,0,0.35);
  margin: 15px;
}

#presentationSelector span{
  display: block;
  color: #fff;
  font-size: 16px;
  position: relative;
  margin-top: 2px;
  width: 100%;

  text-align: center;
}

#presentationSelector .fa{
  display: block;
  font-size: 40px;
  position: relative;
  width: 100%;
  margin-top: 10px;
  text-align: center;
}
#presentationInactiveContainer{
  text-align: center;
  height: 100%;
  width: 100%;
  position: relative;
  top: 50%;
}
#presentationInactive{
  display: inline-block;
  width: auto;
  padding: 20px;
  background:#555555;
  -webkit-box-shadow: inset 1px 1px 10px 10px rgba(0,0,0,0.35);
  -moz-box-shadow: inset 1px 1px 10px 10px rgba(0,0,0,0.35);
  box-shadow: inset 1px 1px 10px 10px rgba(0,0,0,0.35);
}

.leftButton{
  position: absolute;
  bottom: 145px;
  left: 50px;
}
.secondLeftButton{
  position: absolute;
  bottom: 145px;
  left: 150px;
}
.fa.fa-square{
  font-size: 50px;
}
.fa.fa-caret-right{
  font-size: 50px;
}
.fa.fa-question{
  font-size: 50px;
}
